@use 'variables' as v;


@font-face {
    font-family: "Hanken Grotesk";
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
    font-weight: 500 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: v.$font-family;
}

a {
    text-decoration: none;
    display: block;
}

h1 {
    color: v.$light-lavender;
    font-size: 1.1rem;
}

p {
    font-size: v.$font-size;
}

span {
    display: block;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;;
}

.wrapper {

    .score {
        //background-color: v.$cobalt-blue;
        background: linear-gradient(v.$light-slate-blue, v.$light-royal-blue);
        text-align: center;
        padding: 2rem;
        border-bottom-left-radius: 31px;
        border-bottom-right-radius: 31px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}

.score__punctuation{
    background-color: red;
    background: linear-gradient(v.$violet-blue, v.$persian-blue);
    border-radius: 58%;
    padding: 1.7rem;
    width: 130px;

    span:first-child {
        font-size: 3rem;
        font-weight: 900;
        color: v.$white;
    }

    span:nth-child(2) {
        color: v.$light-lavender;
        font-weight: 900;
    }

}

.score__phrase {
    color: v.$white;
}

.score__review{
    color: v.$light-lavender;
}


.summary {
    padding: 1.3rem;
}

.summary__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .summary__heading {
        font-size: 1.125rem;
        color: v.$dark-gray-blue;
    }

    .summary__categories {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .btn {
        background-color: hsl(224, 30%, 27%);
        padding: 1rem;
        border-radius: 26px;
        text-align: center;
        color: white;
        font-weight: 900;
        font-size: 1.125rem;
    }

}

.category {
    background-color: v.$pale-blue;
    //background-color: v.$light-red;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flex {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}


.flex {

    .reaction {
        color: v.$light-red;
    }
    
    .memory {
        color: v.$orange-yellow;
    }
    
    .verbal {
        color: v.$green-teal;
    }
    
    .visual {
        color: v.$cobalt-blue;
    }
}


.points {
    color: v.$green-teal;

    .total {
        display: inline-block;
        color: hsl(224, 30%, 27%);
        font-weight: bold;
        margin-right: 0.3rem;
    }

}